{% extends 'cbv/base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-10">
      {% include 'cbv/message.html' %}
      <div class="card p-4 shadow text-center">

        <h2 class="mb-4 fw-bold">Create Student Account</h2>

        <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data" class="needs-validation mt-2" novalidate>
          {% csrf_token %}

          <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
            {{ form.username }}
          </div>

          <div class="mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name:</label>
            {{ form.first_name }}
          </div>

          <div class="mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name:</label>
            {{ form.last_name }}
          </div>

          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
            {{ form.email }}
          </div>

          <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Create Password:</label>
            {{ form.password1 }}
          </div>

          <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password:</label>
            {{ form.password2 }}
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-4">Create Student</button>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
