{% extends 'student_work/base.html' %}

{% block content %}

<div class="container mt-5 mb-4">
    {% include 'student_work/message.html' %}
    <h1 class="text-center my-4">Assigment Tracker </h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                 
                    
                    <th>Missed Deadline </th>
                    <th>On Time Submission</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ data.student__username }}</td>
                        <!-- <td>{{ data.student__firstname }}</td> -->
                        <td>{{ data.missed_deadline_count }}</td>
                        <td>{{ data.on_time_submission_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
