    {% extends 'student_work/base.html' %}

    {% block content %}

    <div class="container mt-5 mb-4">

        {% include 'student_work/message.html' %}
        <h3 class="text-center my-5">Math Assignments</h3>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="col-6 col-sm-4">Link of Assignments</th>
                        <th>Deadline</th>
                        <th>Arrived on </th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in math_data %}
                        <tr>
                            <td>{{ assignment.title }}</td>

                            <td>
                                <a
                                    href="{{ assignment.link }}"
                                    data-bs-toggle="popover"
                                    data-bs-content="{{ assignment.link }}"
                                    data-bs-trigger="hover"
                                    data-bs-placement="top"
                                    role="button"
                                    class="text-decoration-none text-dark"
                                    target="_blank"
                                    style="transition: color 0.3s;"
                                >
                                    {{ assignment.link|truncatechars:20 }}
                                    <button
                                        class="btn btn-sm btn-secondary"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Open in New Tab"
                                        style="pointer-events: none;"
                                    >
                                        Open
                                    </button>
                                </a>
                            </td>

                            <td>{{ assignment.deadline|date:"h:i A, F d, Y" }}</td>
                            <td>{{ assignment.send_time|date:"h:i A, F d, Y" }}</td>
                            <td>
                                {% if not assignment.is_submitted %}
                                    <div class="modal fade" id="exampleModalMath_{{ assignment.id }}" tabindex="-1" aria-labelledby="exampleModalLabelMath_{{ assignment.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'submit_math_assignment' assignment_id=assignment.math_id  %}" method="post">
                                                        {% csrf_token %}
                                                        {{ math_sub_Form }}
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalMath_{{ assignment.id }}">
                                        Submit
                                    </button>
                                {% else %}
                                    <p>Assignment already submitted</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Math Page -->
            <nav aria-label="Math Assignments Pagination">
                <ul class="pagination justify-content-center">
                    {% if math_data.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?math_page=1" aria-label="First">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?math_page={{ math_data.previous_page_number }}" aria-label="Previous">Previous</a>
                        </li>
                    {% endif %}
            
                    {% for page in math_data.paginator.page_range %}
                        <li class="page-item{% if page == math_data.number %} active{% endif %}">
                            <a class="page-link" href="?math_page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
            
                    {% if math_data.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?math_page={{ math_data.next_page_number }}" aria-label="Next">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?math_page={{ math_data.paginator.num_pages }}" aria-label="Last">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!-- lesson -->
        <h3 class="text-center my-5">Lesson Assignments</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    

                        <th>Title</th>
                        <th>Link of Assignments</th>
                        <th>Deadline</th>
                        <th>Arrived on</th>
                        <th style="text-align: right;">Submit</th>


                    </tr>
                </thead>
                <tbody>
                    {% for assignment in lesson_data %}
                        <tr>
                    
                            <td>{{ assignment.title }}</td>
                            <td>
                                <a
                                    href="{{ assignment.link }}"
                                    data-bs-toggle="popover"
                                    data-bs-content="{{ assignment.link }}"
                                    data-bs-trigger="hover"
                                    data-bs-placement="top"
                                    role="button"
                                    class="text-decoration-none text-dark"
                                    target="_blank"
                                    style="transition: color 0.3s;"
                                >
                                    {{ assignment.link|truncatechars:20 }}
                                    <button
                                        class="btn btn-sm btn-secondary"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Open in New Tab"
                                        style="pointer-events: none;"
                                    >
                                        Open
                                    </button>
                                </a>
                            </td>
                            <td>{{ assignment.deadline|date:"h:i A, F d, Y" }}</td>
                            <td>{{ assignment.send_time|date:"h:i A, F d, Y" }}</td>
                            <td>
                                <div class="modal fade" id="exampleModalLesson_{{ assignment.id }}" tabindex="-1" aria-labelledby="exampleModalLabelLesson_{{ assignment.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'submit_lesson_assignment' assignment_id=assignment.lesson_id  %}" method="post">
                                                    {% csrf_token %}
                                                    {{ lesson_sub_Form }}
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalLesson_{{ assignment.id }}">
                                    Submit
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Lesson page -->
        
        <nav aria-label="Lesson Assignments Pagination">
            <ul class="pagination justify-content-center">
                {% if lesson_data.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?lesson_page=1" aria-label="First">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?lesson_page={{ lesson_data.previous_page_number }}" aria-label="Previous">Previous</a>
                    </li>
                {% endif %}
        
                {% for page in lesson_data.paginator.page_range %}
                    <li class="page-item{% if page == lesson_data.number %} active{% endif %}">
                        <a class="page-link" href="?lesson_page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
        
                {% if lesson_data.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?lesson_page={{ lesson_data.next_page_number }}" aria-label="Next">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?lesson_page={{ lesson_data.paginator.num_pages }}" aria-label="Last">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
            
        </div>

    </div>

    <script>
    



    document.addEventListener('DOMContentLoaded', function () {
            var submitButtons = document.querySelectorAll('.btn.btn-primary');

            console.log('Number of buttons found:', submitButtons.length);

            for (var i = 0; i < submitButtons.length; i++) {
                var button = submitButtons[i];
                console.log('Button:', button);

                if (button) {
                    button.addEventListener('click', function () {
                        var lessonSubForm = button.dataset.lessonSubForm;

                        console.log('Lesson Sub Form:', lessonSubForm);

                        if (lessonSubForm.trim() !== '') {
                            button.textContent = 'Submitted';
                            button.disabled = true;
                        }
                    });
                }
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });

            var clipboard = new ClipboardJS('.copy-btn');

            clipboard.on('success', function (e) {
                var tooltip = new bootstrap.Tooltip(e.trigger);
                tooltip.show();
            });
        });


    </script>

    {% endblock %}



