{% extends 'student_work/base.html' %}

{% block content %}
<div class="container mt-5 mb-4">
    {% include 'student_work/message.html' %}
    <h2 class="text-center my-4">Math Assignments</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                  
                    <th>User</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Assignment Title</th>
                    <th>Math Submission Link</th>
                    <th>Math Submission Date</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in math_submissions %}
                <tr>
                  
                    <td>{{ submission.student.username }}</td>
                    <td>{{ submission.student.first_name }}</td>
                    <td>{{ submission.student.last_name }}</td>
                    <td>{{ submission.assigmnets.title }}</td>
                    <td>
                        <a
                            href="{{ submission.math_sub_link }}"
                            data-bs-toggle="popover"
                            data-bs-content="{{ submission.math_sub_link }}"
                            data-bs-trigger="hover"
                            data-bs-placement="top"
                            role="button"
                            class="text-decoration-none text-dark"
                            target="_blank"
                            style="transition: color 0.3s;"
                        >
                            {{ submission.math_sub_link|truncatechars:20 }}
                            <button
                                class="btn btn-sm btn-secondary"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Open in New Tab"
                                style="pointer-events: none;"
                            >
                                Open
                            </button>
                        </a>
                    </td>
                    <td>{{ submission.math_sub_date }}</td>
                    <td>
                        <div class="modal fade" id="exampleModalMath_{{ submission.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'update_math' assignment_id=submission.id %}" method="post">
                                            {% csrf_token %}
                                            {{ math_update_Form }}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalMath_{{ submission.id }}">
                            Update
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="text-center my-4">Lesson Assignments</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                 
                    <th>User</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Assignment Title</th>
                    <th>Lesson Submission Link</th>
                    <th>Lesson Submission Date</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in lesson_submissions %}
                <tr>
                    
                    <td>{{ submission.student.username }}</td>
                    <td>{{ submission.student.first_name }}</td>
                    <td>{{ submission.student.last_name }}</td>
                    <td>{{ submission.assigmnets.title }}</td>
                    <td>
                        <a
                            href="{{ submission.lesson_sub_link }}"
                            data-bs-toggle="popover"
                            data-bs-content="{{ submission.lesson_sub_link }}"
                            data-bs-trigger="hover"
                            data-bs-placement="top"
                            role="button"
                            class="text-decoration-none text-dark"
                            target="_blank"
                            style="transition: color 0.3s;"
                        >
                            {{ submission.lesson_sub_link|truncatechars:20 }}
                            <button
                                class="btn btn-sm btn-secondary"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Open in New Tab"
                                style="pointer-events: none;"
                            >
                                Open
                            </button>
                        </a>
                    </td>
                    <td>{{ submission.lesson_sub_date }}</td>
                    <td>
                        <div class="modal fade" id="exampleModalLesson_{{ submission.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'update_lesson' assignment_id=submission.id %}" method="post">
                                            {% csrf_token %}
                                            {{ lesson_update_Form }}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalLesson_{{ submission.id }}">
                            Update
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    var clipboard = new ClipboardJS('.copy-btn');

    clipboard.on('success', function (e) {
        var tooltip = new bootstrap.Tooltip(e.trigger);
        tooltip.show();
    });
});
</script>

</script>
{% endblock %}
